.character-card {
    margin: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-radius: 8px;
    box-shadow: 7px 8px 13px -4px rgba(0,0,0,0.47);
    -webkit-box-shadow: 7px 8px 13px -4px rgba(0,0,0,0.47);
    -moz-box-shadow: 7px 8px 13px -4px rgba(0,0,0,0.47);
    background-color: var(--white);
    color: black;
    position: relative;
}

.character-card img {
    width: 100%;
    margin-bottom: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.character-card a {
    margin-top: 10px;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--primary-bg);
    color: var(--white);
    cursor: pointer;
}