.header-container {
    background-color: var(--primary-bg);
    height: 40px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
}

.theme-button {
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: var(--light-theme-btn);
    color: var(--white);
    margin-left: 20px;
}