.favorites-container {
  min-height: 90vh;
}

.favorites-dark {
  background-color: black;
  color: white;
}

.favorites-container h1 {
  text-align: center;
}

.favorite-characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
