.footer-container {
    background-color: var(--primary-bg);
    padding: 10px;
    color: var(--white);
}

.contact-btn {
    cursor: pointer;
    background-color: transparent;
    color: var(--white);
    border: none;
    font-size: 16px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.modal-close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: gray;
  transition: color 2s ease-in-out;
}

.modal-close-btn:hover {
  /* color: var(--primary-bg); */
  color: red;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea { 
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-size: 16px;
}

form input:focus,
form textarea:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(102, 92, 171, 0.3);
}

form button[type='submit'] {
  background-color: var(--primary-bg);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

form button[type='submit']:hover {
  /* background-color: var(--primary-bg); */
  background-color: red;
}