.search-container{
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container input{
    border:none;
    padding:8px 16px;
    width:50%;
    border-radius: 8px;
    background-color: var(--primary-bg);
    color:var(--white);
}

.search-container input::placeholder{
    color: var(--white);
}